/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.list {
  font-size: 18px;
  .restaurant {
    padding: 10px 10px;
  }
}

.text-center {
  text-align: center;
}

.foot {
  background-color: yellow;
}
